<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta name="viewport" content="initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta name="robots" content="noindex,nofollow,nosnippet,noodp,noarchive,noimageindex" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="Nitro Web">
  <title>Playgrounds : Nitro Prototype</title>

  <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path("favicons/apple-touch-icon-57x57.png") %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= image_path("favicons/apple-touch-icon-60x60.png") %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path("favicons/apple-touch-icon-72x72.png") %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path("favicons/apple-touch-icon-76x76.png") %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path("favicons/apple-touch-icon-114x114.png") %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path("favicons/apple-touch-icon-120x120.png") %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path("favicons/apple-touch-icon-144x144.png") %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path("favicons/apple-touch-icon-152x152.png") %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path("favicons/apple-touch-icon-180x180.png") %>">
  <link rel="icon" type="image/png" href="<%= image_path("favicons/favicon-32x32.png") %>" sizes="32x32">
  <link rel="icon" type="image/png" href="<%= image_path("favicons/android-chrome-192x192.png") %>" sizes="192x192">
  <link rel="icon" type="image/png" href="<%= image_path("favicons/favicon-96x96.png") %>" sizes="96x96">
  <link rel="icon" type="image/png" href="<%= image_path("favicons/favicon-16x16.png") %>" sizes="16x16">
  <link rel="mask-icon" href="<%= image_path("favicons/safari-pinned-tab.svg") %>" color="#004876">
  <link rel="shortcut icon" href="<%= image_path("favicons/favicon.ico") %>">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="<%= image_path("favicons/mstile-144x144.png") %>">
  <meta name="msapplication-config" content="<%= image_path("favicons/browserconfig.xml") %>">
  <meta name="theme-color" content="#ffffff">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="body-summary">
  <div class="page-container">
    <div class="row-offcanvas row-offcanvas-left">
      <div class="nitro-navigation">
        <div class="announcements"></div>
        <div class="navigation-topbar">
          <div class="env-information"></div>

          <div class="navigation-topbar-left">
            <a id="menu-link" class="topbar-link" data-toggle="offcanvas" href="#"><i class="far fa-bars fa-2x"></i></a>
            <a class="logo" class="logo logo-n-only" title="Power Home Remodeling Group">
              <span class="hidden-xxs hidden-xs"><img height="32px" src="<%= image_path("nitro/nitro-logo-white.svg") %>" alt="Nitro logo white" /></span>
              <span class="visible-xxs visible-xs hidden-sm hidden-md hidden-lg"><img height="32px" src="<%= image_path("nitro/n-logo-white.svg") %>" alt="N logo white" /></span>
            </a>
          </div>

          <div class="navigation-topbar-center">
            <div class="navigation-search">
                  <div class="spotnitro" id="spotnitro">
                    <svg class="svg-inline--fa fa-search fa-w-16 fa-2x" aria-hidden="true" data-prefix="far" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z"></path></svg><!-- <span class="far fa-search fa-2x"></span> -->
                    <form role="search">
                      <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;"><input type="text" placeholder="Search" class="tt-input" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Proxima Nova&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"><div class="tt-dataset-menu-entry"></div><div class="tt-dataset-report-entry"></div><div class="tt-dataset-onscreen-entry"></div><div class="tt-dataset-home-entry"></div><div class="tt-dataset-project-entry"></div></span></span>
                    </form>
                  </div>
            </div>
          </div>

          <div class="navigation-topbar-right">
            <div class="dropdown left hidden-xs">
              <a class="dropdown-toggle head-nav-link phone" data-toggle="dropdown" href="#">
                <span class="far fa-phone-square fa-2x"></span>

                <div class="head-nav-link-caret"><span class="caret"></span></div>
              </a>
              <div class="dropdown-menu pull-right settings-box">
                <ul class="dropdown-navigation">
                  <li><a id="btnTakeACall" rel="nofollow" data-method="post"><i class="far fa-fw fa-phone"></i> Take a call</a></li>
                  <li><a id="manual-call-sign-in" data-method="get"><i class="far fa-fw far fa-fax"></i> Make manual calls</a></li>
                  <li class="bg-success"><a><i class="far fa-fw fa-life-ring"></i> Take support calls</a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="dropdown left">
              <a class="dropdown-toggle head-nav-link" data-toggle="dropdown" href="#">
                <svg class="powergon-logo" width="29" height="36" viewBox="0 0 134 163" xmlns="http://www.w3.org/2000/svg">
                  <path d="M67 22L1.5 68.6h-.1c-.6.5-1 1.2-1 2V116c0 .8.4 1.5 1 2l.1.1 62.8 44.6c1.2.8 2.8 0 2.8-1.4V22H67z" class="bg" />
                  <path d="M67 142l65.5-46.6.1-.1c.6-.5 1-1.2 1-2V47.9c0-.8-.4-1.5-1-2l-.1-.1L69.8 1.2C68.6.4 67 1.2 67 2.6V142z" class="bg" />
                  <path
                    d="M67.1 80.7l6.7-1.2c4.9-.9 7.3-3.4 7.3-7.8 0-1.6 0-6.5-7.3-5.2l-6.7 1.2v13zM51 120.8c-.2 0-.3 0-.4-.1-.1-.1-.1-.3-.1-.4l.9-4.4V60.3l-.9-4.1c0-.1 0-.3.1-.5s.2-.2.4-.3l22.7-4c9.2-1.6 15.9 0 19.8 4.9 3.3 4.1 3.8 9.7 3.8 12.6 0 2.9-.5 8.7-3.8 14-3.9 6.3-10.6 10.3-19.8 11.9L67.1 96v21.5c0 .3-.2.6-.5.6L51 120.8z"
                    class="fg" />
                </svg>
                <div class="badge-connect-unread-messages"></div>
                <div class="head-nav-link-caret"><span class="caret"></span></div>
              </a>
              <div class="dropdown-menu pull-right settings-box">
                <ul class="dropdown-navigation">
                  <li><a><i class="far fa-fw fa-users"></i> Corporate Directory</a></li>

                  <li id="connect-notifier">
                    <a id="connect-notifier-link" onclick="launch_connect(); return false">
                      <i class="far fa-comments fa-fw"></i> Connect
                    </a>

                    <ul id="connect-notifier-unread-message-names" class="muted"></ul>
                    <h6 id="connect-mention-header"><i class="far fa-at"></i> Mentions</h6>
                    <ul id="connect-notifier-room-names" class="muted"></ul>
                  </li>

                  <li><a><i class="far fa-fw fa-play-circle"></i> PowerLife</a></li>

                  <li>
                    <a href="https://www.powerswagclub.com" , target="_blank">
                      <i class="far fa-shopping-cart"></i> Power Store
                    </a>
                  </li>

                  <li><a ><i class="far fa-fw fa-share"></i> Make a Request</a></li>
                  <li><a ><i class="far fa-fw fa-plane"></i> Request travel</a></li>
                  <li><a ><i class="far fa-fw fa-receipt"></i> Expenses</a></li>
                  <li><a ><i class="far fa-fw fa-certificate"></i> Veterans Initiative</a></li>
                  <li><a ><i class="far fa-fw fa-thumbs-up"></i> Refer a Friend</a></li>
                  <li><a data-remote="true"><i class="far fa-fw fa-sign-in"></i> Start Work</a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="dropdown left profile">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Tim Wenhold">
                <object class="profile-avatar"
                  data="<%= image_path("nitro/TimWenhold.jpg") %>"
                  type="image/jpg">
                  <span>TW</span>
                </object>
                <div class="dropdown-caret"><span class="caret"></span></div>
              </a>
              <div class="dropdown-menu pull-right settings-box">
                <ul class="dropdown-navigation">
                  <li><a ><i class="far fa-fw fa-calendar"></i> Attendance Record</a></li>
                  <li><a ><i class="far fa-fw fa-user"></i> Change password</a></li>
                  <li><a id="setHomePage" data-remote="true" rel="nofollow" data-method="post" ><i class="far fa-fw fa-home"></i> Set as home page</a></li>
                  <li><a><i class="far fa-fw fa-calendar"></i> My Calendar</a></li>
                  <li><a ><i class="far fa-fw fa-copy"></i> My Exports</a></li>
                  <li><a ><i class="far fa-fw fa-handshake-alt"></i> My Donations</a></li>
                  <li><a class="show-spinner text-danger"><i class="far fa-fw fa-sign-out"></i> Sign out</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="navbar navbar-default" id="main-crumbs">
          <ol class="nav navbar-nav nowrap">
            <li id="navHome"><a ><span><i class="far fa-home fa-lg"></i></span></a></li>
            <li><a >Marketer Performance Tracker</a></li>
            <li><a >Inside Sales Performance Tracker</a></li>
            <li><a >Source Groups</a></li>
            <li><a >Sources</a></li>
            <li><a >Schedulers Performance Tracker</a></li>
            <li><a >Retailer Performance Tracker</a></li>
            <li><a >Referral Performance Tracker</a></li>
            <li><a >Final Review Queue</a></li>
            <li><a >Support Calls Dashboard</a></li>
            <li><a >Active Support Agents</a></li>
          </ol>
        </div>
      </div>

      <div id="spinner" style="display:none">
        <span class="badge">
          <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <path fill="#004976" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z" transform="rotate(70 25 25)">
              <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"></animateTransform>
            </path>
          </svg>
        </span>
      </div>

      <div id="main-view" class="">
        <div class="new-style">
          <%= yield %>
        </div>
      </div>
      <div class="sidebar-offcanvas" id="full-nav-sidebar" role="navigation" data-no-turbolink></div>
    </div>
  </div>
  <%= yield :pb_js %>
</body>

</html>
